<div id="<%= dom_id(recipe) %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation Time:</strong>
    <%= recipe.preparation_time %> minutes
  </p>

  <p>
    <strong>Cooking Time:</strong>
    <%= recipe.cooking_time %> minutes
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public ? 'Yes' : 'No' %>
  </p>

  <p>
    <%= link_to "Show this recipe", recipe_path(recipe), class: "btn btn-primary btn-sm" %>
  </p>
</div>
